.DS_Store
__pycache__
node_modules/
*.csv
*.out
*.err
log/*
venv/
.env
critical_flie/databaseAccount.json
critical_flie/serverConfig.json
critical_file/client_secret.json
critical_file/databaseAccount.json
