name: Slack Notification

on:
  workflow_call:
    inputs:
      success:
        required: true
        type: boolean
      service_name:
        required: false
        type: string
        default: "Stocker API"
    secrets:
      SLACK_WEBHOOK:
        required: true

jobs:
  notify-success:
    if: ${{ inputs.success }}
    runs-on: ubuntu-latest
    steps:
      - name: Notify success to Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: stocker-log
          SLACK_USERNAME: Stocker Deploy Bot
          SLACK_ICON_EMOJI: ":rocket:"
          SLACK_TITLE: Deployment Successful
          SLACK_MESSAGE: |
            *${{ inputs.service_name }}* deployed to EC2 successfully!
            *Branch:* `${{ github.ref_name }}`
            *Commit:* `${{ github.sha }}`
            *By:* ${{ github.actor }}
          SLACK_COLOR: good
          SLACK_FOOTER: ${{ inputs.service_name }}

  notify-failure:
    if: ${{ !inputs.success }}
    runs-on: ubuntu-latest
    steps:
      - name: Notify failure to Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: stocker-log
          SLACK_USERNAME: Stocker Deploy Bot
          SLACK_ICON_EMOJI: ":x:"
          SLACK_TITLE: Deployment Failed
          SLACK_MESSAGE: |
            *${{ inputs.service_name }}* deployment to EC2 failed!
            *Branch:* `${{ github.ref_name }}`
            *Commit:* `${{ github.sha }}`
            *By:* ${{ github.actor }}
            *Check logs:* ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          SLACK_COLOR: danger
          SLACK_FOOTER: ${{ inputs.service_name }}
